---
import { DateTime } from 'luxon';
import { dayRepository } from '@stonker/stonker';
import Layout from '../layouts/base/Layout.astro';
import { MANILA_TIMEZONE } from '@myawesomeorg/constants';
import { getCurrentManilaDate } from '@myawesomeorg/utils';
const days = await dayRepository.findAmount(365);
const now = getCurrentManilaDate();
---

<Layout title="Days" breadcrumb={[{ title: 'Days', url: '/' }]}>
  {
    days.length > 0 && (
      <ul>
        {days.map((day) => {
          const _d = day.dataAt.setZone(MANILA_TIMEZONE);
          return (
            <li>
              <a href={`/days/${_d.toSQLDate() as string}`}>
                {`${_d.toFormat('MMM dd, yyyy (EEEE)')}`}
                {now.luxon.toSQLDate() === _d.toSQLDate() && (
                  <span class={'text-red-600'}> - Today</span>
                )}
              </a>
            </li>
          );
        })}
      </ul>
    )
  }
</Layout>
